*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik' , sans-serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    height: 100vh;
    width: auto;
    background-color: black;
   
    
}

.fav1{
    
    height:10px;
    width: 10px;
    border-radius: 50%;
}
.main{
    /* height: 100vh; */
    /* background-image: url(../img/headphone.jpg);
    background-size: cover;
    background-repeat: no-repeat; */

    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bg-img{
    object-fit: cover;
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
}

/* .pic{
    height: 140px;
    width: 140px;
    background-image: url("../html/my_pic.jpeg"); 
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 45%;
    margin-top: 40px;
    border-radius: 50%;
    border: 4px solid violet;
    
} */

.pic{
    position: relative;
    height: 170px;
    width: 170px;
    background: linear-gradient(#33ccff,#ff0066);
    background-image: url("my_pic.jpeg");
    border-radius: 50%;
    /* margin-left: 42%;
    margin-top: 40px; */
    margin: 10px 0;
    animation: animate 6s ease-in-out infinite;
    

}

@keyframes animate {
    0%{
        transform: translateY(0);
    }    
    50%{
        transform: translateY(-18px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

.pic:after{
    content: '';
    position: absolute;
    top:8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    background-image: url("my_pic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.pic span{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#33ccff,#ff0066);
    border-radius: 50%;
}

.pic span:nth-child(1){
    filter: blur(5px);
}
.pic span:nth-child(2){
    filter: blur(10px);
}
.pic span:nth-child(3){
    filter: blur(15px);
}
.pic span:nth-child(4){
    filter: blur(25px);
}
.up-sec{
    width: 60vw;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.subs{
    background-color: transparent;
    /* margin-top: 10px; */
    border: none;
}

.subs a{
    color: black;
    font-size: 18px;
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 20px;
    background-color:rgb(227, 208, 208);
    
}

.subs a:hover{
    transform: translateY(-2px);
    background: transparent;
    color: violet;
    border: 1px solid violet;
    transition: all 0.4s ease-in-out;

}

.share{
    background-color: transparent;
    /* margin-left: 330px; */
    border: none;
}
.share a{
    color: black;
    font-size: 18px;
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 20px;
    background-color:rgb(227, 208, 208);
}

.name{
    color: rgb(233, 222, 231);
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.location{
    color: rgb(214, 225, 224);
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.acc{
    color: white;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;

}

.social_link{
    justify-content: center;
    text-align: center;
    font-size: 29px;
    letter-spacing: 5px;
    color: white;
    margin-top: 10px;
}
a{
    color: white;
}
.hack{
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
}

.info{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 2px;
    font-family: algerian;
    
} 

@media screen and (max-width: 767px) {
    .main p{
        font-size: 11px;
        
    }
    .pic{
        margin-top: 10px;
    }
    .nmae{
        font-sixe:20px;
    }
    
}
